@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border: oklch(87.2% 0.01 258.338);
}

body {
  margin: 0 !important;
  padding: 0 !important;
  color: #303030;
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link-active {
  font-weight: 600;
  color: #1976d2;
}

@theme inline {
  --color-primary: var(--color-indigo-500);
  --color-foreground: #303030;
  --color-background: #ffffff;
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border;
  }

  .subtle-shadow {
    box-shadow: 0 0 6px 0 rgba(0, 17, 143, 0.05);
  }

  .thin-scrollbar {
    position: relative; /* Required for ::after */
    overflow-y: auto;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #efefef transparent;

    /* Prevent layout shift */
    scrollbar-gutter: stable;
  }

  /* Chrome, Edge, Safari */
  .thin-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5);
    border-radius: 999px;
    min-height: 24px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0.9);
  }

  /* Effectively hide scrollbar arrows (best possible) */
  .thin-scrollbar::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    background: transparent;
  }

  /* Remove corner for dual-axis scroll */
  .thin-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* Bottom fade indicator */
  .thin-scrollbar::after {
    content: "";
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 1)
    );
    pointer-events: none;
    display: block;
  }
}
