@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&display=swap");

@import "tailwindcss";

:root {
  font-family: "Stack Sans Text", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border: oklch(87.2% 0.01 258.338);
}

body {
  margin: 0 !important;
  padding: 0 !important;
  color: #303030;
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link-active {
  font-weight: 600;
  color: #1976d2;
}

@theme inline {
  --color-primary: var(--color-indigo-500);
  --color-foreground: #303030;
  --color-background: #ffffff;
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border;
  }
}
