.rbc-calendar {
  height: 100%;
  min-height: 0;
  flex: 1;
  font-family: inherit;
}

.rbc-time-view,
.rbc-month-view {
  border-color: var(--mui-palette-divider);
}

.rbc-time-header-content,
.rbc-timeslot-group,
.rbc-day-bg + .rbc-day-bg,
.rbc-month-row + .rbc-month-row,
.rbc-header + .rbc-header,
.rbc-header {
  border-color: var(--mui-palette-divider);
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px;
  font-weight: 500;
  color: var(--mui-palette-text-secondary);
}

.rbc-current-time-indicator {
  height: 2px !important;
  background-color: #c70300;
}

.rbc-event,
.rbc-event.rbc-selected {
  flex-flow: column;
  background-color: #a684ff;
  border-color: #8e51ff;
}

.rbc-event:focus {
  outline-color: #7419ff;
}

.rbc-event-label {
  font-size: 12px !important;
}

.rbc-today {
  background-color: #f5f3ff;
}

.rbc-off-range-bg {
  background: #f8fafc;
}

.rbc-show-more {
  color: #7419ff;
  font-weight: 600;
}
